body{
    background-color: #ffe8ad
}
*
{
    margin: 0;
    box-sizing: border-box;
    
}
header
{
    width: 100%;
    height: 150px;
    background-color: #FFDB7E;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#flex-div{
    display: flex;
}
.logo
{
    display: flex;
    flex-direction: row;
    width: 326px;
    margin-left: 35px;
    position: relative;
}
#logoTxt
{
    position: absolute;
    left: 32px;
    top: 13px;
    color:white;
    font-size: 52.16px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 3.2px;
}
#vermelho
{
    width: 81.5px;
    height: 81.5px;
    background-color: #960200;
}
#rosa
{
    width: 81.5px;
    height: 81.5px;
    background-color: #E26350;
}
#verde
{
    width: 81.5px;
    height: 81.5px;
    background-color: #606C38;
}
#musgo
{
    width: 81.5px;
    height: 81.5px;
    background-color: #283618;
}

#itemsCabecalho
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 30px;
    font-family: 'Josefin Slab';
    font-weight: 550;
    font-size: 19.87px;
    color: black;
}

.cabecalho a{
    color: #283618;
}

main{
    padding:55px;
}

h1
{
    font-family: 'Josefin Slab';
    font-weight: 450;
    font-style: normal;
    font-size: 29px;
    text-decoration: underline;
    padding-bottom: 10px;
    margin-left:15px;
}

.opcao
{
 height: 586px;
 width: 332px;
 background-color: #FF5B5B;
 border-radius: 20px;
 position: relative;
 margin-right: 20px;
}

.promocao
{
    background-color: #FF5B5B;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    height: 32px;
    width: 132px;
    border-radius: 20px;
    padding-top: 2px;
}
.opcao img{
    background-size: contain;
    object-fit: cover;
    height: 306px;
    width: 306px;
}
main
{
    padding-left: 98px;
    
}
.opcao img
{
    margin-top: 16px;
    margin-left: 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.descricao
{
    background-color: white;
    height: 155px;
    width: 306px;
    margin-left: 12px;
    margin-top: -4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 18px;
}
.descricao h1
{
    font-family: "DM Serif Display", serif;
    font-weight: 450;
    font-style: normal;
    font-size: 29px;
    text-decoration: underline;
}

.descricao p
{
    font-family: 'Josefin Slab';
    font-size: 20px;
    font-weight: 555;
}

.preco
{
    height: 70px;
    width: 306px;
    background-color: white;
    border-radius: 20px;
    padding-left: 18px;
    margin-left: 12px;
    margin-top: 14px;
    font-size: 29px;
    font-family: "DM Serif Display", serif;
    font-weight: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.vegetariano{
    background-color: #606C38;
}

.vegetariano>div:first-child{
    background-color:#606C38 ;
}
 .opcao2
 {
    background-color: #ffe8ad
 }

.opcoes
{
    display: flex;
    padding-top: 30px;
}
.divPesquisa
{
    display: flex;
}

input
{
    width: 980px;
    height: 46px;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Josefin Slab';
    font-size: 20px;
    font-weight: 555;
    color: #a9a9a9;
    margin-left: 125px;
    font-style: italic;
    margin-bottom: 15px;
}